/* CSS Code */

/* Basic Code */
body {
    font-family: 'Roboto', sans-serif;
    background-color: rgba(244, 245, 249, 1);
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Roboto', sans-serif;
}

header {
    height: 80px;
    width: 100%;
    background-color: rgba(244, 245, 249, 1);
    position :fixed;
    z-index: 10;
    padding-top: 25px;
}

.header-left {
    float:left;
}

.header-left .logo {
    margin-left: 95px;
}

.header-right {
    float:right;
}

/* Btn Log in */
.header-right .btn-login {
    display: inline-block;
    background: rgba(3, 66, 139, 1);
    border-radius: 5px;
    padding: 10.5px 14px 13px 15px;
    margin-right: 95px;
    width: 97px;
    height: 40px;
    gap: 10px;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 0.003em;
}

.alert {
    position: absolute;
    background-color: rgba(3, 66, 139, 1);
    margin-top: 80px;;
    border-radius: 0px;
    height: 554px;
    width: 608px;
}

.alert .text1{
    position: absolute;
    color: white;
    padding-left: 95px;
    padding-top: 90px;
    font-size: 12px;
}

.alert .text2{
    position: absolute;
    color: white;
    margin-left: auto;
    font-size: 36px;
    padding-left: 95px;
    padding-top: 96px;
}

.imgMain{
    float: right;
    margin-top: 80px;
    width: 832px;
    height: 554px;
}

.container{
    background-color: black;
    margin-top: 400px;
}