/* CSS Code */

/* Basic Code */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #F4F5F9;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Roboto', sans-serif;
}

/* Navbar */

.navbar {
    height: 80px;
}

.navbar-brand {
    margin-top: 25px;
    margin-left: 20px;
    margin-bottom: 25px;
}

.tombollogin {
    margin-right: 20px;
}

/* Gambar */
.judul {
    position: absolute;
    background: #03428B;
    margin-top: 10px;;
    border-radius: 0px;
    height: 555px;
    width: 608px;
    color: white;
    padding-left: 91px;
    padding-top: 64px;
}

.imgMain{
    float: right;
    margin-top: 10px;
    width: 832px;
    height: 554px;
}

/* form */
.form-control{
    margin-top: 10px;
    width: 70%;
    border-radius: 5px;
    margin-left: 150px;
    height: 50px;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}


.btn1 {
    display: inline-block;
    color: white;
    background: #03428B;
    width: 125px;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    outline: none;
}

.collapse .btn1{
    float: right;
}

.pilihan{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 200px;
    /* background: rgba(255, 255, 255, 0.84); */
    border-radius: 5px;
    flex-direction: column;
}

.pilihan .btn1{
    margin-top: 10px;
    margin-left: 10px;
}

.multiple{
    float: left;
    margin: 10px;
    margin-left: 180px;
}

.search{
    width: 80%;
    margin-left: 30px;
    display: flex;
    
}

.lebar{
    width: 125px;
    height: 35px;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    border-radius: 5px;
    outline: none;
    border: none;
    background: none;
    position: relative;
    overflow: hidden;
    transition: all 300ms ease;
    color: #949494;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}
.lebar:hover{
    color:white;
}
.lebar:hover::after{
    left: 0;
}
.lebar::after{
    z-index: -1;
    content: "";
    top: 0;
    left: 100%;
    border-radius: 5px;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #03428B;
}

/* Tabel */
.table thead{
    background-color: #03428B;
    color: white;
    text-align: center;
}