/* CSS Code */

/* Basic Code */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #F4F5F9;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Roboto', sans-serif;
}

/* Navbar */

.navbar {
    height: 50px;
}

.navbar-brand {
    margin-left: 0px;
    margin-bottom: 25px;
    width: 30px;
    height: auto;
}

.navbar-brand img{
    width: 200px;
    height: 20px;
}

.input{
    margin-right: -200px;
    border-radius: 5px;
    margin-top: -5%;
    height: 100%;
    padding-top: 2px;
}

.input .btn{
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 12px;  
}

.tombollogin {
    margin-right: 20px;
    background-color: #03428B;
    border-radius: 5px;
    margin-top: -5%;
    height: 100%;
}

.tombollogin .nav-link{
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 12px;

}

/* Hero */

.hero .container {
    height: 300px;
    background-color: #03428B;
}

.headingInfo {
    color: white;
    padding-left: 30px;
    padding-top: 50px;
    font-size: 14px;
}

.tulisan {
    color: white;
    padding-left: 30px;
    padding-top: 6px;
    position: absolute;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 50px;
    letter-spacing: 0.003em;
}

/* Pencarian */

.Pencarian {
    background: rgba(255, 255, 255, 0.84);
    height: 130px;
    margin-top: 38%;
    z-index: 1;
    border-radius: 5px;
}

.form-control {
    margin-left: 1%;
    height: 51px;
    font-size: 14px;
}

.kolomCari {
    margin-top: 4%;
    margin-bottom: auto;
    height: 51px;
}

.kolomCari .btn{
    font-size: 14px;
    background: #03428B;
    margin-left: 2%; 
    width: 15%; 
    color: white;
}

.kategori {
    margin-left: 1%;
}

.kategori .btn {
    flex-direction: column;
    width: 20%;
    margin-right: 1%;
    margin-top: 2%;
    font-size: 14px;
    justify-content: center;
    align-items: center;
}

.kategori span {
    display: none;
}

.pilihanKategori {
    display: inline-flex;
    width: 50%;
    margin-top: 8%;
    margin-left: 0%;
    margin-right: 10%;
    position: relative;
}

/* Hasil Cari */

.table .atas th {
    background-color: #03428B;
    color: white;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.003em;
    text-align: center;
}

.kolomHasilCari {
    margin-top: 25%;
}

/* Footer */
.footer {
    background-color: #03428B;
    height: 62px;
    position: relative;
    margin-top: 40%;
}

.footer .tulisan {
    color: white;
    font-size: 12px;
    font-weight: 400;
    position: absolute;
}


/* Tablet */

@media screen and (min-width: 768px) {
    /* Navbar */

    .navbar {
        height: 50px;
    }
    
    .navbar-brand {
        margin-left: 20px;
        margin-bottom: 25px;
        width: 30px;
        height: auto;
    }
    
    .navbar-brand img{
        width: 230px;
        height: 20px;
    }
    
    .input{
        margin-right: -450px;
        background-color: #03428B;
        border-radius: 5px;
        margin-top: -3.2%;
        height: 100%;
        padding-top: 2px;
    }

    .tombollogin {
        margin-right: 20px;
        background-color: #03428B;
        border-radius: 5px;
        margin-top: -3%;
    }
    
    .tombollogin .nav-link{
        color: white;
        font-family: "Roboto", sans-serif;
        font-size: 12px;
    
    }

    /* Hero */

    .hero .container {
        width: auto;
        height: 400px;
        background-color: #03428B;
    }

    .headingInfo {
        color: white;
        padding-left: 40px;
    }

    .tulisan {
        color: white;
        padding-left: 40px;
    }

    /* Pencarian */

    .Pencarian {
        height: 158px;
        margin-top: 34%;
    }

    .form-control {
        margin-left: 1%;
    }

    .kolomCari {
        margin-top: 5%;
        margin-bottom: auto;
    }

    .kategori .btn {
        flex-direction: column;
        width: 20%;
        /* margin-right: 1%; */
        margin-top: 3%;
        font-size: 12px;
        justify-content: center;
        align-items: center;
    }

    .kategori span {
        display: none;
    }

    .pilihanKategori {
        display: inline-flex;
        width: 50%;
        margin-top: 8%;
        margin-left: 0%;
        margin-right: 10%;
        position: relative;
    }

    /* Hasil Cari */

    .kolomHasilCari {
        margin-top: 20%;
    }

    /* Footer */
    .footer {
        background-color: #03428B;
        height: 75px;
        position: relative;
        margin-top: 20%;
        padding-top: 0.8%;
    }

    .footer .tulisan {
        color: white;
        font-size: 14px;
        font-weight: 400;
        position: absolute;
        text-align: center;
    }
}

/* Desktop */

@media screen and (min-width: 992px) {

    /* Navbar */
    .navbar {
        height: 80px;
    }
    
    .navbar-brand {
        margin-top: 17px;
        margin-left: 0px;
        margin-bottom: 10px;
        width: 30px;
        height: auto;
    }

    .navbar-brand img{
        width: 300px;
        height: 29px;
    }

    .input .btn{
        color: white;
        font-family: "Roboto", sans-serif;
        font-size: 14px;  
    }
    
    .input{
        margin-right: -840px;
        background-color: #03428B;
        border-radius: 5px;
        margin-top: 1%;
        padding-top: 4px;
        height: 70%;
    }

    .tombollogin {
        margin-right: 20px;
        margin-top: 1%;
        height: 70%;
        padding-top: 2px;
    }

    .tombollogin .nav-link{
        color: white;
        font-family: "Roboto", sans-serif;
        font-size: 14px;
    
    }

    /* Hero */

    .hero .container {
        width: auto;
        height: 554px;
        background-color: #03428B;
    }

    .headingInfo {
        color: white;
        padding-left: 51px;
    }

    .tulisan {
        color: white;
        padding-left: 51px;
    }

    .gambarMain {
        width: 102.5%;
        height: 554px;
        z-index: 2;
    }

    /* Pencarian */

    .Pencarian {
        background: rgba(255, 255, 255, 0.84);
        height: 182px;
        margin-top: -8%;
        z-index: 1;
    }

    .form-control {
        margin-left: 1%;
        height: 51px;
        font-size: 14px;
    }

    .kolomCari {
        margin-top: 4%;
        margin-bottom: auto;
        height: 51px;
    }

    .kolomCari .btn{
        font-size: 16px;        
    }

    .kategori {
        margin-left: 1%;
    }

    .kategori .btn {
        flex-direction: column;
        width: 20%;
        margin-right: 1%;
        margin-top: 2%;
        font-size: 14px;
        justify-content: center;
        align-items: center;
    }

    .kategori span {
        display: none;
    }

    .pilihanKategori {
        display: inline-flex;
        width: 50%;
        margin-top: 8%;
        margin-left: 0%;
        margin-right: 10%;
        position: relative;
    }

    /* Hasil Cari */

    .table .atas th {
        color: white;
        font-weight: 500;
        font-size: 16px;
        letter-spacing: 0.003em;
    }

    .kolomHasilCari {
        margin-top: 12%;
    }

    /* Footer */
    .footer {
        background-color: #03428B;
        height: 91px;
        position: relative;
        padding-top: 1%;
    }

    .footer .tulisan {
        color: white;
        font-size: 14px;
        font-weight: 400;
        position: absolute;
    }
}