/* CSS Code */

/* Basic Code */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #F4F5F9;
}

/* Navbar */

.navbar {
    height: 80px;
}

.navbar-brand {
    margin-top: 15px;
    margin-left: 0px;
    margin-bottom: 25px;
    width: 30px;
    height: auto;
}

.tombollogin {
    margin-right: 20px;
}

/* Heading */
.cheading {
    width: 100%;
    height: 90px;
    background-color: #03428B;
    position: relative;
}

.cheading .heading {
    position: absolute;
    height: 50px;
    font-weight: 500;
    font-size: 24px;
    line-height: 50px;
    letter-spacing: 0.003em;
    color: white;
    margin-top: 5%;
    margin-left: 28%;
}


/* Inputan */

.inputan .heading p {
    font-weight: 600;
    font-size: 22px;
    margin-left: 0%;
    margin-top: 10%;
    line-height: 14px;
    color: #03428B;
}

.labelInput {
    font-weight: 600;
    font-size: 14px;
    margin-left: 0%;
    margin-top: 12%;
    line-height: 14px;
    color: #03428B;
}

.kolomInput .form-control {
    height: 44px;
}

.btnBatalSimpan {
    margin-top: 10%;
    margin-left: 5%;
}

.btnSimpan {
    margin-top: 10%;
    margin-left: 5%;
}

/* Footer */

.footer {
    background-color: #03428B;
    height: 79px;
    position: relative;
    margin-top: 18%;
}

.footer .tulisan {
    color: white;
    font-size: 14px;
    font-weight: 400;
    position: absolute;
    margin-top: 7%;
}

/* Tablet */

@media screen and (min-width: 768px) {

    /* Navbar */

    .navbar-brand {
        margin-top: 20px;
        margin-left: 20px;
        margin-bottom: 25px;
    }

    .tombollogin {
        margin-right: 20px;
    }

    /* Inputan */

    .labelInput {
        font-size: 16px;
    }

    .kolomInput .form-control {
        height: 48px;
    }

    .btnBatalSimpan {
        margin-left: 52%;
        margin-bottom: 10%;
    }
    
    .btnSimpan {
        margin-top: 10%;
        margin-left: 3%;
        margin-bottom: 10%;
    }

    /* Heading */
    .cheading .heading {
        margin-top: 3%;
        margin-left: 40%;
    }

    /* Footer */
    .footer {
        background-color: #03428B;
        height: 79px;
        position: relative;
        margin-top: 31.9%;
    }

    .footer .tulisan {
        color: white;
        font-size: 16px;
        font-weight: 400;
        position: absolute;
        margin-top: 3.5%;
    }
}

/* Desktop */

@media screen and (min-width: 992px) {

    /* Navbar */
    .navbar-brand {
        margin-left: 0%;
    }

    .tombollogin {
        margin-right: 0%;
    }

    .inputan .heading p {
        margin-top: 5%;
        margin-bottom: 2%;
    }

    .btnBatalSimpan {
        margin-left: 71%;
        margin-bottom: 10%;
    }
    
    .btnSimpan {
        margin-top: 10%;
        margin-left: 1%;
        margin-bottom: 10%;
    }

    /* Heading */
    .cheading .heading {
        margin-top: 2%;
        margin-left: 42%;
    }

    /* Footer */
    .footer {
        background-color: #03428B;
        height: 79px;
        position: relative;
        margin-top: 0%;
    }

    .footer .tulisan {
        color: white;
        font-size: 16px;
        font-weight: 400;
        position: absolute;
        margin-top: 2%;
    }
}