/* CSS Code */

/* Basic Code */
body {
    font-family: 'Roboto', sans-serif;
    background-color: rgba(244, 245, 249, 1);
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Roboto', sans-serif;
}

  /* Navbar */
  .navbar-brand {
    margin-top: 25px;
    margin-left: 102px;
  }

  .tombol {
    margin-top: 25px;
    margin-right: 102px;
  }

  .home {
    margin-left: -128px;
  }

  .imgMain {
    float: right;
    margin-right: -10px;
    margin-top: 30px;
    z-index: 1;
   }

  .btn-cari {
    float: right;
    margin-top: 100px;
    width=105px; 
    height=105px;
}

.btn-search {
    background: rgba(3, 66, 139, 1);
    position: absolute;
    width: 105px;
    height: 105px;
    margin-left:-90px;
    margin-top: 480px;
}

.kotak {
    width: 657px;
    height: 271px;
    background: rgba(3, 66, 139, 1);
    margin-top: 200px;
    margin-left: 98px;
    position: absolute;
    z-index: 1;
}

.kotak h6{
    color: white;
    padding-left: 61px;
    padding-top: 44px;
}

.tulisan {
    color: white;
    padding-left: 61px;
    padding-top: 6px;
    position: absolute;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 50px;
    letter-spacing: 0.003em;
}

.el1{
    height: 5px;
    width: 250px;
    background: #B2CBEF;
}

.el2{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: #B2CBEF;
}

.el3{
    width: 114px;
    height: 114px;
    border-radius: 50%;
    background: #B2CBEF;
}

.el4{
    width: 169px;
    height: 169px;
   
    border-radius: 50%;
    background: rgba(3, 66, 139, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.el4 span.p{
    font-size: 12; 
}

.data{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 200px;
    position: relative;
    margin-top: -20px;
}

.deskripsi {
    color: white;
    margin-top: 28px;
}

.deskripsi p {
    margin-left: 30px;
}

.container {
    align-items: center;
    margin-top: 150px;
    margin-bottom: 20px;
    width: 100%;
}

.pencarian {
    margin-top: 10%;;
}

.kotakcari {
    width: 100%;
    height: 740px;
    margin-top: -90px;
    margin-bottom: 10px;
    background: #CBE0FF;
    position: absolute;
    margin-left: -15px;
}

.kiri {
    margin-left: 80px;
    margin-top: 154px;
    position: relative;
}

.kanan {
    justify-content: end;
    margin-left: 680px;
    margin-top: -120px;
}

.kanan .penjelasan {
    width: 55%;
    margin-top: -372px;
}

.penjelasan h6 {
    position: relative;
    color: rgba(3, 66, 139, 1);
    margin-top:-100px;
}

.penjelasan a {
    padding-top: 100px;
    position: relative;
    top: 8px;
    font-weight: 600;
    font-size: 36px;
    line-height: 50px;
    letter-spacing: 0.003em;
    color: rgba(3, 66, 139, 1);
}

.penjelasan p {
    position: absolute;
    width: 455px;
    height: 20px;
    top: -220px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.003em;
    color: #949494;
}

.cari {
    width: 700px;
    height: 62px;
    color: rgba(3, 66, 139, 1);
}

.btn-src {
    width: 120px;
    height: 62px;
    margin-left: 20px;
}

.kiri{
   width: 40%;

}

p.capt{
    color:#949494;
    
}

.kolomCari{
    display: flex;
    flex-wrap: wrap;
    margin-top: 80px;
    width: 100%;
    height: 217px;
    background: rgba(255, 255, 255, 0.84);
    border-radius: 5px;
    flex-direction: column;
    position: relative;
}

.pilihanKategori{
    margin: 30px;
   
}

.pilihanKategori .btn{
    margin: 6px;
    width: 126.32px;
    height: 40px;
    padding: 8px;
    gap: 10px;
    font-size: 14px;
}

.carii{
    width: 91%;
    margin-left: 30px;
    display: flex;
    color: #03428B;
}

.tlsnprosedur{
    font-weight: 600;
    font-size: 40px;
    text-align: center;
    letter-spacing: 0.003em;
    color: #03428B;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: absolute;
    margin-bottom: 100px;
    margin-top: 300px;
}

.tlsnprosedur p {
    margin-left: 35%;
    margin-top: 55%;
}

.dasar-warna{
    display: flex;
    flex-wrap: wrap;
    width: 1520px;
    height: 246px;
    left: 0px;
    top: 2702px;
    background: #03428B;
    align-items: center;
}

.kotakBwh{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    margin-top: 5%;
    margin-bottom: 250px; 
}

.container {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%; /*750*/
     
}

.atas{
    width: 100%;
    height: 63px;
    background: rgba(178, 203, 239, 1);
}

.prosedur{
    width: 23%;
    height: 500px;
    border: 1px solid black;
    margin-left: 20px;
    margin-top: -28%;
    padding-bottom: 20px;
    align-items: center;
    background: #FFFFFF;
}

.logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20%;
    margin-bottom: 5%;
}

.logo img{
    width: 30%;
    margin: 20px;
}

.logo h3{
    color: #03428B;
    margin-bottom: 8%;
}

.logo p{
    color: rgba(178, 203, 239, 1);
    text-align: center;
}

.angka{
    width: 96px;
    height: 96px;
    border-radius: 50%;
    background: #03428B;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    margin-left: 85px;
    margin-top: 38%;
    color: white;
    font-weight: 600;
    font-size: 36px;
    line-height: 28px;
}

.angka p {
    margin-top: 17%;
}

.kecil img{
    width: 100px;
}

footer{
    background: #03428B;
    text-align: center;
    margin-top: -8%;
    height: 79px;
}

footer p {
    position: absolute;
    width: 335px;
    height: 28px;
    left: 590px;
    margin-top: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.003em;
    color: #FFFFFF;
}








  /* Tablet Version */
  @media (max-width: 768px) and (max-width: 991.98px) {
    .navbar-brand {
        margin-top: 25px;
        margin-left: 43px;
      }
    
  }

  /* Small Device Version */
  @media (max-width: 576px) and (max-width: 767.98px) {
    .navbar-brand {
        margin-top: 25px;
        margin-left: 20px;
        width: 200px;
        height: auto;
      }
    
      .tombol {
        margin-top: 25px;
        margin-right: 20px;
      }

      .btn-cari {
        float: right;
        margin-top: 110px;
        width=105px; 
        height=105px;
    }
    
    .btn-search {
        background: rgba(3, 66, 139, 1);
        position: absolute;
        width: 105px;
        height: 105px;
        margin-left:-150px;
        margin-top: 245px;
    }
  }

  /* Very Small */
  @media (max-width: 575.98px) {
    .navbar-brand {
        margin-top: 25px;
        margin-left: 20px;
        width: 200px;
        height: auto;
      }
    
      .tombol {
        margin-top: 25px;
        margin-right: 20px;
      }

      .btn-cari {
        float: right;
        margin-top: 100px;
        width=105px; 
        height=105px;
    }
    
    .btn-search {
        background: rgba(3, 66, 139, 1);
        position: absolute;
        width: 105px;
        height: 105px;
        margin-left:-110px;
        margin-top: 245px;
    }
  }