/* CSS Code */

/* Basic Code */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #F4F5F9;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Roboto', sans-serif;
}

/* Navbar */

.navbar {
    height: 80px;
}

.navbar-brand {
    margin-top: 25px;
    margin-bottom: 25px;
}

.tombollogin .btn{
    /* background-color: #03428B;
    width: auto; */
    font-family: "Roboto", sans-serif;
    display: inline-block;
    background: rgba(3, 66, 139, 1);
    border-radius: 5px;
    margin: 20%;
    /* padding: 10.5px 14px 13px 15px;
    margin-right: 95px; */
    width: 97px;
    height: 40px;
    /* gap: 10px;
    font-weight: 500; */
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 0.003em;
}


/* Main */
.bgMain{
    width:100%;
    height:500px;
    background-size: cover;
    /* Agar tampilan gambar tetap proposional dengan ukuran layar */
    /* background-position:center; */
    /* Posisi gambar ditengah */
    /* background-attachment: fixed; */
    /* Ini lah yang membuat gambar dapat di scroll */
}
.imgMain {
    /* float: right; */
    margin-right: 0px;
    margin-top: 30px;
    z-index: 0;
    height: 570px;
    position: relative;
}

.btn-cariHome {
    /* float: right;
    margin-top: 40px; */
    width: 150px;
    height: 105px;
    position: relative;
    margin-top: -7%;
    margin-left: auto;
}

.btn-search {
    background: rgba(3, 66, 139, 1);
    /* position: absolute; */
    width: 105px;
    height: 105px;
    /* margin-left:-150px; */
    /* margin-top: 10%; */
}

.kotak {
    /* width: 457px;
    height: 271px; */
    background: rgba(3, 66, 139, 1);
    margin-top: 100px;
    /* margin-left: -15px; */
    position: absolute;
    /* z-index: 1; */
}

.kotak h6{
    color: white;
    padding-left: 51px;
    padding-top: 44px;
    font-size: 14px;
}

.tulisan {
    color: white;
    /* padding-left: 51px; */
    padding-top: 6px;
    position: absolute;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 50px;
    letter-spacing: 0.003em;
}

/* Bunderan Jumlah Berkas */ 

.data {
    /* display: flex;
    flex-wrap: wrap; */
    justify-content: space-between;
    align-items: center;
    margin-bottom: 200px;
    /* position: relative; */
    margin-top: 160px;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
}

.el1 {
    height: 5px;
    width: 250px;
    background: #B2CBEF;
}

.el2 {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: #B2CBEF;
}

.el3 {
    width: 114px;
    height: 114px;
    border-radius: 50%;
    background: #B2CBEF;
}

.el4 {
    width: 169px;
    height: 169px;
    border-radius: 50%;
    background: rgba(3, 66, 139, 1);
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
}

.deskripsi {
    color: white;
    margin-top: 28px;
}

.deskripsi p {
    margin-left: 30px;
}

/* Kolom Cari */ 

.kotakcari {
    background-color:#B2CBEF;
}

.imgCari {
    width: 60%;
    height: auto;
    margin-top: 15%;

}

.penjelasan h6{
    font-size: 14px;
    /* margin-bottom: 3%; */
    /* margin-top: 10%; */
    /* margin-left: 0px; */
    color: #03428B;
}

.penjelasan .a {
    font-size: 30px;
    margin-bottom: 3%;
    color: #03428B;
    font-weight: 500;
}

.penjelasan p {
    /* margin-top: 3%; */
    font-size: 16px;
    color: #949494;
    line-height: 30px;
    width: 80%;
}

/* .cari { /* kolom ketik */
    /* padding: 8%;
    position: absolute;
    width: 80%; */
/* } */ */

/* .btn-src { /* botton cari */
    /* padding: 4.5%;
    position: absolute;
    margin-left: 0%;
    background-color: #03428B;
} */ */

.kolomCari {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10%;
    width: 100%;
    height: 190px;
    background: rgba(255, 255, 255, 0.84);
    border-radius: 5px;
    flex-direction: column;
    position: relative;
    margin-bottom: 10%;
}

.kolomCarii {
    margin-top: 4%;
    margin-bottom: auto;
    height: 86px;
    margin-left: 3%;
}

.kolomCarii .btn{
    font-size: 14px;
    background: #03428B;
    margin-left: 75%; 
    width: 15%; 
    height: 86px;
    color: white;
    margin-top: 0%;
}

.kategori {
    margin-left: 1%;
}

.kategori .btn {
    flex-direction: column;
    width: 60%;
    margin-right: 3%;
    margin-top: 1%;
    font-size: 10px;
    justify-content: center;
    align-items: center;
}

.kategori .btn-active {
    margin-left: -2%;
}

/* input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
} */

.kategori .btn-outline-secondary {
    color: #03428B;
    border-color: #03428B;
}

.kategori .btn-outline-secondary:hover {
    background-color: #03428B;
    color: #F4F5F9;
}

.kategori .btn-outline-secondary:active {
    background-color: #03428B;
    color: #F4F5F9;
}

.pilihanKategori .btn span {
    display: none;
}

/* Prosedur Pengguna */

.tulisanProsedur {
    font-weight: 600;
    font-size: 40px;
    text-align: center;
    letter-spacing: 0.003em;
    color: #03428B;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: relative;
    margin-top: 40%;
    margin-bottom: 30%;
}

.kotakBawah {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 246px;
    background: #03428B;
    align-items: center;
    position: relative;
}

.pp {
    width: 80%;
    display: flex;
}

.prosedurPengguna {
    justify-content: center;
}

.prosedur {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 500px;
    border: 1px solid black;
    margin-left: 2%;
    margin-top: -40%;
    margin-bottom: 60%;
    align-items: center;
    background: #FFFFFF;
    position: relative;
}

.logoProsedur {
    margin-top: 30%;
    position: relative;
    margin-bottom: 10%;
}

.prosedur p {
    margin-top: 5%;
    justify-content: center;
    align-items: center;
}

.angka1 {
    width: 96px;
    height: 96px;
    border-radius: 50%;
    background: #03428B;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    margin-left: 3%;
    margin-top: 84%;
    color: white;
    font-weight: 600;
    font-size: 36px;
    line-height: 28px;
    position: absolute;
    z-index: 1;
}

.angka2 {
    width: 96px;
    height: 96px;
    border-radius: 50%;
    background: #03428B;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    margin-left: 3%;
    margin-top: 240%;
    color: white;
    font-weight: 600;
    font-size: 36px;
    line-height: 28px;
    position: absolute;
    z-index: 1;
}

.angka3 {
    width: 96px;
    height: 96px;
    border-radius: 50%;
    background: #03428B;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    margin-left: 3%;
    margin-top: 399%;
    color: white;
    font-weight: 600;
    font-size: 36px;
    line-height: 28px;
    position: absolute;
    z-index: 1;
}

.angka4 {
    width: 96px;
    height: 96px;
    border-radius: 50%;
    background: #03428B;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    margin-left: 3%;
    margin-top: 558%;
    color: white;
    font-weight: 600;
    font-size: 36px;
    line-height: 28px;
    position: absolute;
    z-index: 1;
}

/* Footer */
.footer {
    background-color: #03428B;
    height: 62px;
    position: relative;
    margin-top: 40%;
}

.footer .tulisan {
    color: white;
    font-size: 12px;
    font-weight: 400;
    position: absolute;
}




/* DESKTOP VERSION */
@media screen and (min-width: 992px) {

    /* Navbar */ 

    .navbar-brand {
        margin-top: 25px;
        margin-bottom: 25px;
    }

    .tombollogin {
        margin-right: 102px;
    }

    /* Main Home */

    /* .home {
        margin-left: -128px;
    } */
    
    .imgMain {
        float: right;
        margin-right: -10px;
        margin-top: 30px;
        z-index: 0;
        height: 570px;
    }
    
    .btn-cari {
        /* float: right; */
        width:105px; 
        height:105px;
        /* position: relative; */
    }
    
    .btn-search {
        background: rgba(3, 66, 139, 1);
        /* position: absolute; */
        width: 105px;
        height: 105px;
        /* margin-left:-90px; */
    }
    
    .kotak {
        width: 657px;
        height: 271px;
        background: rgba(3, 66, 139, 1);
        /* margin-top: 200px;
        margin-left: 98px;
        position: absolute; */
        z-index: 1;
    }
    
    .kotak h6{
        color: white;
        padding-left: 61px;
        padding-top: 44px;
    }
    
    .tulisan {
        color: white;
        padding-left: 61px;
        padding-top: 6px;
        position: absolute;
        font-style: normal;
        font-weight: 600;
        font-size: 36px;
        line-height: 50px;
        letter-spacing: 0.003em;
    }

    /* Kolom Cari */ 

    .imgCari {
        width: 553px;
        height: auto;
        margin-left: 0px;
        margin-top: 0px;
        justify-content: center;
        position: relative;
    }

    .pencarian {
        display: flex;
        flex-wrap: wrap;
        margin-top: 10%;
    }
    
    .row {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    
    .kotakcari {
        width: 100%;
        height: 740px;
        margin-top: -90px;
        margin-bottom: 10px;
        background: #CBE0FF;
        position: absolute;
        margin-left: -15px;
    }
    
    .kiri {
        margin-left: 80px;
        margin-top: 154px;
        position: relative;
        width: 100%;
    }
    
    .kanan {
        justify-content: end;
        margin-top: -120px;
        position: relative;
    }

    .pencarian .hhh {
        margin-top: 1%;
    }
    
    .kanan .penjelasan {
        width: 55%;
        margin-top: -372px;
        position: relative;
    }
    
    .penjelasan h6 {
        position: relative;
        color: rgba(3, 66, 139, 1);
        margin-top:1%;
    }
    
    .penjelasan a {
        padding-top: 100px;
        position: relative;
        top: 8px;
        font-weight: 600;
        font-size: 50px;
        line-height: 50px;
        letter-spacing: 0.003em;
        color: rgba(3, 66, 139, 1);
    }

    .penjelasan p {
        /* margin-top: 3%; */
        font-size: 16px;
        color: #949494;
        line-height: 30px;
        width: 80%;
    }
    
    .kiri{
       width: 40%;
    
    }
    
    p.capt{
        color:#949494;
        
    }
    
    .kategori {
        margin-left: 1%;
    }
    
    .kategori .btn {
        flex-direction: column;
        width: 85%;
        margin-right: 3%;
        margin-top: 1%;
        font-size: 14px;
        justify-content: center;
        align-items: center;
    }
    
    .kategori .btn-active {
        margin-left: -2%;
    }
    
    /* input[type="radio"] {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    } */
    
    .kategori .btn-outline-secondary {
        color: #03428B;
        border-color: #03428B;
    }
    
    .kategori .btn-outline-secondary:hover {
        background-color: #03428B;
        color: #F4F5F9;
    }
    
    .kategori .btn-outline-secondary:active {
        background-color: #03428B;
        color: #F4F5F9;
    }

    .kolomCari {
        display: flex;
        flex-wrap: wrap;
        margin-top: 10%;
        width: 100%;
        height: 190px;
        background: rgba(255, 255, 255, 0.84);
        border-radius: 5px;
        flex-direction: column;
        position: relative;
        margin-bottom: 10%;
    }
    
    .form-control {
        margin-left: 1%;
        height: 86px;
        width: 100%;
    }

    .kolomCarii {
        margin-top: 3%;
        margin-bottom: auto;
        height: 86px;
        width: 95%;
        margin-left: 2%;
    }

    .kolomCarii .btn{
        margin-top: 0%;
        margin-bottom: auto;
        height: 86px;
        margin-left: 3%;
        font-size: 16px;
    }

    /* Prosedur Pengguna */

    .tulisanProsedur {
        font-weight: 600;
        font-size: 40px;
        text-align: center;
        letter-spacing: 0.003em;
        color: #03428B;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        position: relative;
        margin-top: 55%;
    }

    .kotakBawah {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 246px;
        margin-top: -20%;
        background: #03428B;
        align-items: center;
        position: relative;
    }

    .pp {
        width: 80%;
        display: flex;
    }

    .prosedurPengguna {
        justify-content: center;
        margin-left: 11%;
    }

    .prosedur {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        height: 500px;
        border: 1px solid black;
        margin-left: 2%;
        margin-top: -15%;
        align-items: center;
        background: #FFFFFF;
        position: relative;
        margin-bottom: 5%;
    }

    .logoProsedur {
        margin-top: 30%;
        position: relative;
        margin-bottom: 10%;
    }
    
    .prosedur p {
        margin-top: 5%;
        justify-content: center;
        align-items: center;
    }

    .angka1 {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin-left: 30%;
        margin-bottom: 40px;
        /* align-items: center; */
        position: relative;
        width: 96px;
        height: 96px;
        border-radius: 50%;
        background: #03428B;
        /* display: flex; */
        /* justify-content: center; */
        /* align-items: center; */
        font-size: 40px;
        /* margin-left: -71%; */
        /* margin-top: 23%; */
        color: white;
        font-weight: 600;
        font-size: 36px;
        /* line-height: 28px; */
        /* position: absolute; */
        /* z-index: 1; */
    }

    .angka2 {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin-left: 30%;
        margin-bottom: 40px;
        /* align-items: center; */
        position: relative;
        width: 96px;
        height: 96px;
        border-radius: 50%;
        background: #03428B;
        /* display: flex; */
        /* justify-content: center; */
        /* align-items: center; */
        font-size: 40px;
        /* margin-left: -71%; */
        /* margin-top: 23%; */
        color: white;
        font-weight: 600;
        font-size: 36px;
    }

    .angka3 {
        width: 96px;
        height: 96px;
        border-radius: 50%;
        background: #03428B;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 40px;
        margin-left: 25%;
        margin-top: 23%;
        color: white;
        font-weight: 600;
        font-size: 36px;
        line-height: 28px;
        position: absolute;
        z-index: 1;
    }

    .angka4 {
        width: 96px;
        height: 96px;
        border-radius: 50%;
        background: #03428B;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 40px;
        margin-left: 75%;
        margin-top: 23%;
        color: white;
        font-weight: 600;
        font-size: 36px;
        line-height: 28px;
        position: absolute;
        z-index: 1;
    }

    /* Footer */
    .footer {
        background-color: #03428B;
        height: 91px;
        position: relative;
        padding-top: 1%;
    }

    .footer .tulisan {
        color: white;
        font-size: 14px;
        font-weight: 400;
        position: absolute;
    }
    
}

/* Tablet Version */

/* @media (max-width: 768px) { */
    @media screen and (max-width: 460px) {
    .el1 {
        display: none;
    }

    .el2 {
        display: none;
    }

    .el3 {
        display: none;
    }

    .el4 {
        width: 200px;
        height: 200px;
        margin-top: 50px;
        /* margin-bottom: 10px; */
        margin-left: 25%;
        /* text-align: center; */
    }

    .btn-cari {
        margin-top: 500px;
    }
    
    .btn-search {
        margin-top: 60px;
    }

    .btn-src { /* botton cari */
        padding: 3%;
        /* position: absolute; */
        margin-left: 100%;
        height: 77px;
        /* margin-top: -9%; */
        background-color: #03428B;
    }

    .kolomCari {
        padding-bottom: 20px;
    }

    .form-control {
        margin-left: 1%;
        height: 86px;
        width: 100%;
    }

    .kolomCarii {
        margin-top: 3%;
        margin-bottom: auto;
        height: 70px;
        width: 60%;
        margin-left: 2%;
    }

    .kolomCarii .btn{
        margin-top: 0%;
        margin-bottom: auto;
        height: 86px;
        margin-left: 3%;
    }

    .angka1 {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin-left: 35%;
        margin-bottom: 40px;
        /* align-items: center; */
        position: relative;
        width: 96px;
        height: 96px;
        border-radius: 50%;
        background: #03428B;
        /* display: flex; */
        /* justify-content: center; */
        /* align-items: center; */
        font-size: 40px;
        /* margin-left: -71%; */
        /* margin-top: 23%; */
        color: white;
        font-weight: 600;
        font-size: 36px;
        /* line-height: 28px; */
        /* position: absolute; */
        /* z-index: 1; */
    }
}