/* CSS Code */

/* Basic Code */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #F4F5F9;
}

/* Navbar */

.navbar {
    height: 80px;
}

.navbar-brand {
    margin-top: 15px;
    margin-left: 0px;
    margin-bottom: 25px;
    width: 30px;
    height: auto;
}

.tombollogin {
    margin-right: 20px;
}

/* Hero */

.hero .container {
    height: 300px;
    background-color: #03428B; !important
}

.headingInfo {
    color: white;
    padding-left: 30px;
    padding-top: 90px;
    font-size: 14px;
}

.tulisan {
    color: white;
    padding-left: 30px;
    padding-top: 6px;
    position: absolute;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 50px;
    letter-spacing: 0.003em;
}

/* Tablet */

@media screen and (min-width: 768px) {
    /* Navbar */

    .navbar-brand {
        margin-top: 20px;
        margin-left: 20px;
        margin-bottom: 25px;
    }

    .tombollogin {
        margin-right: 20px;
    }

    /* Hero */

    .hero .container {
        width: auto;
        height: 400px;
        background-color: #03428B;
    }

    .headingInfo {
        color: white;
        padding-left: 40px;
    }

    .tulisan {
        color: white;
        padding-left: 40px;
    }
}

/* Desktop */

@media screen and (min-width: 992px) {

    /* Navbar */
    .navbar-brand {
        margin-left: 0%;
    }

    .tombollogin {
        margin-right: 0%;
    }

    /* Hero */

    .hero .container {
        width: auto;
        height: 554px;
        background-color: #03428B;
    }

    .headingInfo {
        color: white;
        padding-left: 51px;
    }

    .tulisan {
        color: white;
        padding-left: 51px;
    }

    .gambarMain {
        width: 102.5%;
        height: 554px;
        z-index: 2;
    }
}